html, body, * {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px;
    background-color: #f4f4f4;
}

ul {
    list-style: none;
    margin:0;
    padding: 0;
}

a,
a:not([href]):not([tabindex]),
a:hover,
a:not([href]):not([tabindex]):hover {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    font-size: 1rem;
}

a:hover {
    cursor: pointer;
}

svg {
    width: 100%;
    height: 100%;
}