<section class="section">
    <div class="container">
        <div class="cards-wrapper">
            @if (isLoading) {
                <div class="card w-100">
                    <app-loading [repeat]="5"></app-loading>
                </div>
            } @else {
                <mat-card class="card card-product" appearance="outlined">
                    <div mat-card-image>
                        <img [src]="productsDetails.image" [alt]="productsDetails.title">
                    </div>
                    <div>
                        <mat-card-header>
                            <mat-card-subtitle>{{productsDetails.category}}</mat-card-subtitle>
                            <div class="card-title-wrapper">
                                <mat-card-title>{{productsDetails.title}}</mat-card-title>
                                <div class="ratting">
                                    <mat-icon class="icon" aria-hidden="false" aria-label="Example star icon" fontIcon="star"></mat-icon>
                                    <span>{{productsDetails.rating?.rate}}</span>
                                </div>
                            </div>
                            <div class="card-meta">
                                <mat-card-subtitle class="price">{{ productsDetails.price | priceFormatting:'$' }}</mat-card-subtitle>
                            </div>
                        </mat-card-header>
                        <mat-card-content>
                            {{productsDetails.description}}
                        </mat-card-content>
                    </div>
                </mat-card>
            }
        </div>
    </div>
</section>