@use '../../../styles/helpers/variables' as *;
@use '../../../styles/helpers/mixins' as *;

.card {
    &-product {
        width: 100%;
        margin: auto;

        @include media-query($md) {
            max-width: 80%;
        }
    
        @include media-query($lg) {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            max-width: 60%;
        }

        .card-title-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .ratting {
                display: flex;
                align-items: center;
                gap: 5px;
                color: $color-anthracite;

                .icon {
                    color: $color-secondary;
                }
            }
        }

        .mat-mdc-card-image {
            img {
                width: 100%;
            }
        }

        .mat-mdc-card-content {
            padding: 0;
            margin-top: 1rem;
            color: $color-anthracite;
            font-size: 16px;
            line-height: 24px;
        }
    }
}