<header class="header">
    <div class="container">
        <div class="header-content">
            <div>
                <a class="header-logo" [routerLink]="'/home'">Ecommerce Project</a>
            </div>
            <div class="toggle-menu" (click)="toggleMenu()">
                <img src="assets/images/menu.svg" alt="Menu">
            </div>
            @if (isMenuOpen) {
                <ul class="header-list">
                    <li><a class="header-list-link" [routerLinkActive]="'active'" [routerLink]="'/home'">Home</a></li>
                    @if(user) {
                        <li><a class="header-list-link" [routerLinkActive]="'active'" [routerLink]="'/categories'">Categories</a></li>
                        <li><a class="header-list-link" [routerLinkActive]="'active'" [routerLink]="'/profile'">Profile</a></li>
                        <li><a class="header-list-link" (click)="logout()">Logout</a></li>
                    } @else {
                        <li><a class="header-list-link" [routerLinkActive]="'active'" [routerLink]="'/login'">Login</a></li>
                    }
                </ul>
            }
        </div>
    </div>
</header>