@use '../../../../styles/helpers/variables' as *;
@use '../../../../styles/helpers/mixins' as *;

.header {
    background-color: $color-white;
    position: relative;
    z-index: 1;

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }

    .toggle-menu {
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;

        @include media-query($lg) {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-logo {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;

        &-img {
            width: 2.5rem;
            height: 2.5rem;
            background-color: $color-light-grey;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                display: inline-block;
                width: 1.5rem;
                height: 1.5rem;
                object-fit: cover;
            }
        }
    }

    &-list {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 2.5rem;
        position: absolute;
        top: 100%;
        flex-direction: column;
        background: $color-white;
        width: 100%;
        left: 0;
        padding: 2.5rem;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-top: 1px solid $color-light-grey;


        @include media-query($lg) {
            position: initial;
            flex-direction: row;
            width: auto;
            background-color: $color-transparent;
        }

        .avatar {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }

        .mat-mdc-menu-trigger {
            border: 0;
            background: transparent;
            padding: 0;
        }

        &-link {
            padding: 0;
            display: inline-block;

            &:hover,
            &.active {
                color: $color-primary;
            }
        }
    }
}