@use '../../../styles/helpers/variables' as *;
@use '../../../styles/helpers/mixins' as *;

.card {
    width: 100%;
    margin: auto;

    @include media-query($md) {
        max-width: 80%;
    }

    @include media-query($lg) {
        max-width: 50%;
    }
}

.mat-mdc-form-field {
    width: 100%;
    margin-bottom: 1rem;
}

.mat-mdc-outlined-button {
    border-radius: 8px;
}

.error {
    margin-bottom: 2rem;
}