@use '../../../../styles/helpers/variables' as *;
@use '../../../../styles/helpers/mixins' as *;

.footer {
    background-color: $color-body;
    color: $color-white;
    padding: 1.5rem 0;

    &-text {
        margin-bottom: 0;
        text-align: center;
    }

    &-link {
        color: $color-primary;
        text-decoration: underline;
    }
}