<section class="section">
    <div class="container">
        <div class="section-head-wrapper">
            <mat-form-field class="select-menu">
                <mat-label>Select Category</mat-label>
                <mat-select [(value)]="selected">
                    @for (item of categoriesList; track item) {
                        <mat-option (click)="selectCategory(item)" [value]="item">{{item}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            @if (user?.role == 'admin') {
                <div>
                    <button class="btn secondary" (click)="openDialog('add')">Add Product</button>
                </div>
            }
        </div>
        <div class="cards-wrapper">
            @if (isLoading) {
                <div class="card w-100">
                    <app-loading [repeat]="5"></app-loading>
                </div>
            } @else {
                @for (product of productsList; track $index) {
                    <mat-card class="card card-product" appearance="outlined">
                        <div mat-card-image>
                            <img [src]="product.image" [alt]="product.title">
                        </div>
                        <mat-card-header>
                            <mat-card-title>
                                <div class="w-100">
                                    {{product.title}}
                                </div>
                            </mat-card-title>
                            <div class="card-meta">
                                <mat-card-subtitle class="price">{{product.price}}</mat-card-subtitle>
                                <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
                            </div>
                        </mat-card-header>
                        <mat-card-actions>
                            <button class="btn primary" [routerLink]="'/category/' + product.id">show more</button>
                            @if (user && user.role == 'admin') {
                                <button mat-button (click)="updateProduct(product)" >Edit</button>
                                <button mat-button (click)="deleteProduct(product)">Delete</button>
                            }
                        </mat-card-actions>
                    </mat-card>
                } @empty {
                    <div class="w-100">
                        <app-no-data></app-no-data>
                    </div>
                }
            }
        </div>
    </div>
</section>